<h1>
  <%= @list.name %>
</h1>

<div class="container d-flex">
  <% @list.bookmarks.each do |bookmark| %>
    <%= render '/movie', bookmark: bookmark %>
  <% end %>
</div>


<%= link_to 'View Lists', lists_url %>
<%= link_to 'New Bookmark', new_list_bookmark_path(@list) %>
